services:
  mysql:
    image: "mysql/mysql-server:8.0"
    ports:
      - "3306:3306"
    volumes:
      - "mysql-data:/var/lib/mysql"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ROOT_HOST: "172.%"
  redis:
    image: "redis:8.4-alpine"
    ports:
      - "6379:6379"
    volumes:
      - "redis-data:/data"

volumes:
  mysql-data:
  redis-data:
