<% content_for :title, "Used Gem Ranking" %>
<h1>Used Gem Ranking</h1>

<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>gem_name</th>
      <th>used count</th>
    </tr>
  </thead>
  <tbody>
    <% @project_gem_versions_idx.each do |gem_version, project_gem_versions| %>
      <tr>
        <td>
          <a href="/gem_versions/<%= gem_version.name %>"><%= gem_version.name %></a>
        </td>
        <td><%= project_gem_versions.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
